<!DOCTYPE html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>ImageCompare</title>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="images/common/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="images/common/apple-touch-icon-precomposed.png">
</head>
<body>
<button id="button">ボタンです</button>
<script src="./app.js"></script>
</body>
</html>
